@model PromotionResponseModel
<form asp-action="Edit" asp-controller="Promotion">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />

        <label for="Discount">Discount</label>
        <input type="text" name="Discount" value="@Model.Discount" class="form-control" />
        <input type="hidden" name="Id" value="@Model.Id" />

    </div>
    <button class="btn-primary btn">Update</button>
</form>